* {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Netflix', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Netflix', Arial, Helvetica, sans-serif;
  src: url(fonts/NetflixSans_Regular.woff2);
}

@font-face {
  font-family: 'Netflix Bold';
  src: url(fonts/NetflixSans_Bold.woff2);
}

body {
  background-color: #000;
}

h1 {
  font-size: 3rem;
  font-family: 'Netflix Bold',Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

h2 {
  font-family: 'Netflix Bold', Arial, Helvetica, sans-serif;
  font-size: 2.7rem;
}

h3 {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Showcase section */

.showcase {
  width: 100%;
  height: 97vh;
  position: relative;
  background: url('images/netflix-background.png') no-repeat center center;
  border-bottom: 8px solid #232323;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12rem 2rem;
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}

.header img {
  width: 150px;
  height: 50px;
  margin-left: -200px;
}

.select-language-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: -200px;
}

.languages-selector {
  background: transparent;
  padding-left: 25px;
  border: 0.5px #fff solid;
  border-radius: 5px;
}

.input-button-div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

input {
  padding: 1.1rem 13rem 1.1rem 0.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 1px solid rgba(189,189,189,255);
  margin-right: 0.5rem;
}

::placeholder {
  color: #fff;
  font-size: 1rem;
  color: rgba(189,189,189,255);
  padding-left: 1rem;
}


/* Buttons */

.btn {
  border-radius: 5px;
  background-color: #e50914;
  border-color: transparent;
  font-family: 'Netflix Bold', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  padding: 0.4rem 1rem;
  display: inline-block;
  margin-left: 1.5rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: #c11119;
  transition: 0.5s;
}

.get-started-btn {
  font-size: 1.5rem;
  padding: 0.6rem 1.6rem;
  margin-left: 0.2rem;
}

.arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Sections: TV, mobile, devices, kids */

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 4rem 10rem;
  border-bottom: 8px solid #232323;
}

/* TV section */

.tv-section-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.tv-mockup img {
  width: 580px;
  height: 420px;
}

.tv-mockup {
  position: relative;
  z-index: 2;
}

.tv-video {
  position: absolute;
  top: 20%;
  left: 12%;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* Mobile section */

.mobile-mockup {
  position: relative;
  z-index: 1;
}

.mobile-mockup img {
  width: 580px;
  height: 420px;
}

.mobile-section-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mobile-download {
  position: absolute;
  z-index: 2;
  top: 67%;
  left: 6%;
  display: flex;
  flex-direction: row;
  border: 2px solid #5a5a5a;
  border-radius: 10px;
  background-color: #000;
  padding: 0.5rem 1rem;
  width: 22rem;
  margin-left: 5rem;
}

.mobile-download-content {
  display: flex;
  flex-direction: column;
}

.mobile-download-content .title {
  font-size: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}

.mobile-download-content .download {
  font-size: 0.8rem;
  color: #0171eb;
  padding-top: 0.2rem;
  padding-left: 1rem;
}

.mobile-download img {
  width: 62px;
  height: 86px;
}

/* Devices section */

.devices-section-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.devices-mockup img {
  width: 580px;
  height: 420px;
}

.devices-mockup {
  position: relative;
  z-index: 2;
}

.devices-video video {
  position: absolute;
  top: 12%;
  left: 14%;
  z-index: -1;
  width: 70%;
  height: 45%;
}

/* Kids Section */

.kids-section img {
  width: 580px;
  height: 420px;
}

/* FAQ Section */

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 8px solid #232323;
  margin: 0 32px;
  padding: 72px 0px;
}

.faq-section h2 {
  margin-bottom: 1.3rem;
}

.faq-item h3 {
  font-family: 'Netflix', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.question-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  background-color: #2d2d2d;
  border: none;
  width: 75vw;
  padding: 0.5rem 2rem;
  transition: 0.5s;
  margin-top: 0.5rem;
}

.question-btn:hover {
  background-color: #414141;
  transition: 0.5s;
}

.answer {
  display: none;
  background-color: #2d2d2d;
  width: 75vw;
  border-top: 1px solid #000;
  padding: 2rem 2rem;
}

.answer.active {
  display: block;
}

.faq-section-below {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

